<% content_for :head do %>
  <%= javascript_include_tag "login" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t '.heading' %></h1>
<% end %>

<div id="login_login">
  <%= form_tag({ :action => "login" }, { :id => "login_form" }) do %>
    <%= hidden_field_tag('referer', h(params[:referer])) %>

    <!-- <p class='deemphasize'><%= t '.no account' %> <%= link_to t('.register now'), :action => :new, :referer => params[:referer] %></p> ссылка на регистрацию-->

    <div id="loginForm" class="standard-form">

      <fieldset>
        <div class="form-row">
          <label for="username" class="standard-label">
            <%= t '.email or username' %>
          </label>
          <%= text_field_tag "username", params[:username], :tabindex => 1 %>
        </div>
        <div class="form-row">
          <label for="password" class="standard-label">
            <%= t '.password' %>
          </label>
          <%= password_field_tag "password", "", :tabindex => 2 %>
        </div>
        <!-- <span class="form-help deemphasize">
          <%= link_to t('.lost password link'), :controller => 'users', :action => 'lost_password' %>
        </span> Восстановление пароля-->
      </fieldset>

      <fieldset>
        <%= check_box_tag "remember_me", "yes", params[:remember_me] == "yes", :tabindex => 3 %>
        <label for="remember_me" class="standard-label">
          <%= t '.remember' %>
        </label>
        <%= submit_tag t('.login_button'), :tabindex => 4 %>
      </fieldset>

    </div>

  <% end %>

</div>
