<header class="closed">
  <h1>
    <a href="<%= root_path %>" class="geolink">
      <picture>
        <source srcset="<%= image_path "osm_logo.svg" %>" type="image/svg+xml"></source>
        <%= image_tag "osm_logo.png", :srcset => image_path("osm_logo.svg"), :alt => t('layouts.logo.alt_text'), :class => 'logo' %>
      </picture>
      <%= t 'layouts.project_name.h1' %>
    </a>
  </h1>
  <a href="#" id="menu-icon"></a>
  <nav class='primary'>
    <%= content_for :header %>

    <ul>
      <li id="edit_tab" >
        <%= link_to t('layouts.edit'), edit_path, :class => "tab geolink editlink",
                    :id => 'editanchor',
                    :data => { :editor => preferred_editor }
        %>
      </li>
    </ul>
  </nav>
  <nav class='secondary'>
    <% if current_user && current_user.id %>
      <div class='dropdown user-menu logged-in'>
        <a class='dropdown-toggle' data-toggle='dropdown' href="#">
          <%= user_thumbnail_tiny(current_user, :width => 25, :height => 25)
          %><%= render :partial => 'layouts/inbox'
        %><span class="user-button"><span class='username'><%= current_user.display_name %></span>
          <b class="caret"></b></span>
        </a>
        <ul class='dropdown-menu'>
          <!--Настройки пользователя  -->
          <!-- <li>
            <%= link_to t('users.show.my settings'), :controller => 'users', :action => 'account', :display_name => current_user.display_name %>
          </li> -->
          <li>
            <%= link_to t('layouts.logout'), logout_path(:session => session.id, :referer => request.fullpath) %>
          </li>
        </ul>
      </div>
    <% else %>
      <ul class="user-menu clearfix">
        <li><%= link_to t('layouts.log_in'), login_path(:referer => request.fullpath) %></li>
        <!-- <li><%= link_to t('layouts.sign_up'), user_new_path %></li> кнопка регистрация-->
      </ul>
    <% end %>
  </nav>
</header>
