<% content_for :head do %>
  <%= javascript_include_tag "index" %>
<% end %>

<% content_for(:body_class) { "map-layout" } %>

<% if current_user and !current_user.home_lon.nil? and !current_user.home_lat.nil? %>
  <% content_for :greeting do %>
    <%= link_to t("layouts.home"),
                "#",
                :id => "homeanchor",
                :class => "set_position",
                :data => { :lat => current_user.home_lat,
                           :lon => current_user.home_lon,
                           :zoom => 15 } %>
  <% end %>
<% end %>

<!--<% content_for :header do %>
   <%= render :partial => "layouts/search", :locals => { :autofocus => false } %> 
<% end %>-->

<% content_for :content do %>

 <noscript>
    <div id="noscript">
      <p><%= t 'site.index.js_1' %></p>
      <p><%= t 'site.index.js_2' %></p>
    </div>
  </noscript> 

  <div id="map-ui">
  </div>

  <div id="map" tabindex="2">
  </div>

  <!-- <div id="attribution">
    <table>
      <tr>
        <td class="attribution_license"><%= t 'site.index.license.license_url' %></td>
        <td class="attribution_project"><%= t 'site.index.license.project_url' %></td>
      </tr>
      <tr>
        <td colspan="2" class="attribution_notice"><%= t 'site.index.license.copyright' %></td>
      </tr>
    </table>
  </div> -->
<% end %>

<%= render :template => 'layouts/site' %>
